body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    width: 100%;
    height: 90px;
    padding: 0 140px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.links-item {
    text-transform: capitalize;
    text-decoration: none;
    color: #6c6c6c;
    font-size: 20px;
    margin-right: 38px;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
}


.links-item:hover {
    border-bottom: 3px solid rgba(80, 148, 242, 0.5);



}
.links-item-active {
border-bottom: 3px solid #5094f2;



}






.links-item:last-child {
    margin-right: 0;
    

}

.links {

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.banner {
    width: 100%;
    height: 480px;
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
    box-sizing: border-box;

}

.arrow-right {
    transform: rotate(180deg);


}

.arrow {
    transition: 0.4s;
    cursor: pointer;

}

.arrow-right:hover {
    transform: scale(1.3) rotate(180deg);

}

.arrow-left:hover {

    transform: scale(1.3);

}

.text {
    color: white;
    font-size: 26px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

.banner-content {

    display: flex;
    align-items: center;
    justify-content: center;

}

.text-big {

    font-size: 42px;
    margin-bottom: 25px;

}

.text-small {

    line-height: 45px; 



}


